.themeSwitcher:hover {
    fill: var(--shiki-color-text);
    transform: scale(1.07);
}

.themeSwitcher {
    fill: var(--shiki-color-text);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}