.grid {
  display: grid;
  gap: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-top: 20px;
}
  
.gridItem {
  color: #d1d1d1;
  background-color: #141414;
  border: 1px solid #202020;
  padding: 20px; /* Padding inside grid items */
  text-align: center; /* Centering text inside grid items */
}

.gridItem:hover {
  color: #0366d6;
  background-color: #1976d21c;
  cursor: pointer;
  /* border: 1px solid #0366d6; */
  padding: 20px;
  text-align: center;
}

.gridItemLight {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.gridItemLight:hover {
  color: #005cc5;
  background-color: #1976d220;
  /* border: 1px solid rgba(59,130,246,.5); */
  /* border: 1px solid #eee; */
  padding: 20px;
  text-align: center;
}

.pkgTitle {
  font-weight: bold;
} 

.pkgVersion {
  font-size: 12px;
  font-weight:700;
} 

.searchBox {
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #005cc523;
}

.pageBtn {
  /* border-width: 1px; */
  /* border-color: #005cc53f; */
  background-color: #202020;
  width: 30px;
  height: 30px;
}

.pageBtn:hover {
  background-color: #1976d234;
}

.pageBtnLight {
  /* border-width: 1px; */
  /* border-color: #005cc53f; */
  /* background-color: #202020; */
  background-color: #fff;
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
}

.pageBtnLight:hover {
  background-color: #1976d234;
}