.grid {
  display: grid;
  gap: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-top: 20px;
}
  
.gridItem {
  color: var(--text-color-light);
  border: 1px solid var(--shiki-color-ansi-black-dim);
  padding: 20px;
  text-align: center;
}

.gridItem:hover {
  color: #0366d6;
  background-color: #1976d21c;
  cursor: pointer;
}

.pkgTitle {
  font-weight: bold;
} 

.pkgVersion {
  font-size: 12px;
  font-weight:700;
} 

.searchBox {
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #005cc523;
}

.pageBtn {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  width: 30px;
  height: 30px;
}

.pageBtn:hover {
  background-color: #1976d234;
}